html, ul, li {
    height: 100%;
    width: 100%;
}

body {
    height: 100%;
    width: 100%;
}

nav {
    width: 100%;
    height: 10%;
    background-color: #D9D9D9;
}

ul {
    list-style-type: none;
    display: flex;
    justify-content: space-around;
}

li {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    transition: background-color 0.3s ease;
}

li:hover {
    background-color: gray;
}

.navbar {
    font-size: clamp(1rem, 3.073vw, 59px);
    font-weight: 400;
    font-family: "Inter", sans-serif;
    justify-content: center;
    text-decoration: none;
    color: unset;
}

.title {
    font-size: clamp(1rem, 5.052vw, 97px);
    font-weight: 600;
    font-family: "Inter", sans-serif;
    margin-top: 96px;
    text-align: center;
}

.subtitulo {
    font-size: clamp(1rem, 2.708vw, 52px);
    font-weight: 500;
    font-family: "Inter", sans-serif;
    text-align: center;
}

.corpo {
    margin-top: 135px;
    font-size: clamp(1rem, 3.698vw, 71px);
    font-weight: 400;
    font-family: "Inter", sans-serif;
    text-align: center;
}

.subcorpo {
    font-size: clamp(1rem, 2.656vw, 51px);
    font-weight: 200;
    font-family: "Inter", sans-serif;
    display: flex;
    text-align: center;
    justify-content: center;
}

footer {
    padding-top: 12.5%;
    display: flex;
}

footer div h1 {
    font-size: clamp(1rem, 2.031vw, 39px);
    font-weight: 600;
    font-family: "Inter", sans-serif;
    text-align: center;
}

footer div h2, option {
    font-size: clamp(1rem, 2.031vw, 39px);
    font-weight: 400;
    font-family: "Inter", sans-serif;
    text-align: center;
}

footer div {
    margin: 0 auto 0 auto;
}

input {
    width: 8%;
    border-bottom: 2px dashed black;
    margin: 0 10px;
    font-size: clamp(1rem, 2.656vw, 51px);
    font-weight: 200;
    font-family: "Inter", sans-serif;
    text-align: center;
}

button {
    border: 0px none transparent;
    transition: background-color 0.3s ease;
    font-size: clamp(1rem, 2.031vw, 39px);
    font-weight: 400;
    font-family: "Inter", sans-serif;
    text-align: center;
    width: 20%;
    height: 8vh;
    background-color: #D9D9D9;
}

button:hover {
    background-color: gray;
}

select {
    border: 0px none transparent;
    border-bottom: 2px dashed black;
    background-color: transparent;
    font-size: clamp(1rem, 3.698vw, 71px);
    font-weight: 400;
    font-family: "Inter", sans-serif;
    text-align: center;
}

a {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
}

h3 {
    color: red;
    text-align: center;
    font-size: clamp(1rem, 3.698vw, 29px);
    font-weight: 400;
    font-family: "Inter", sans-serif;
    text-align: center;
    padding: 1%;
}