<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../static/css/reset.css">
    <link rel="stylesheet" href="../static/css/styles.css">
    <title>Home Page</title>
</head>
<body>
    <nav>
        <ul>
            <li style="width: 19%; background-color: gray;">
                <a href="homepage.html" class="navbar">Home</a>
            </li>
            <li style="width: 21%;">
                <a href="gray.html" class="navbar">Gray</a>
            </li>
            <li style="width: 29%;">
                <a href="conversao.html" class="navbar">Conversão</a>
            </li>
            <li style="width: 31%;">
                <a href="operacoes.html" class="navbar">Operações</a>
            </li>
        </ul>
    </nav>
    <h1 class="title">Trabalho Prático Final</h1>
    <h1 class="subtitulo">Ecossistema Web, Móvel e na Nuvem</h1>
    <h1 class="corpo">Página Principal</h1>
    <h1 class="subcorpo">Use os botões acima para começar</h1>
    <footer style="padding-top: 13%;">
        <div>
            <h1>Rodrigo Saraiva</h1>
            <h2>51378</h2>
        </div>
        <div>
            <h1>Professor</h1>
            <h2>Tiago M. C. Simões</h2>
        </div>
        <div>
            <h1>Rafael Antunes</h1>
            <h2>51950</h2>
        </div>
    </footer>
</body>
</html>